body  {}

.outerBody {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 700px;
}

.loginSection {
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 5px 8px 5px -1px #858d99;
  padding: 60px 40px;
  border: 1px solid #e9cdcd;
}

.loginSection h2 {
  text-align: center;
}

.registerSection {
width: 100%;
}

.registerSection .content {
  margin: 0 auto;
  width: 80%;
  margin-top: 30px;
}

.registerSection .content .registerStep {
  margin: 50px 0;
}

.registerSection .content .outletContent {
  margin: 0 auto;
}