body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* 修改antd原生样式 */

input {
  border-radius: 4px !important;
}

.ant-form-vertical {
  padding-bottom: 0px !important;
}

.ant-btn-primary {
  background: #524175 !important;
}


/* 布局样式 */

.main {
  width: 55%;
  margin: 0 auto;
}

.main_content {
  width: 100%;
  padding: 10px 20px;
  float: left;
} 

.main_content .action_bar {
  margin: 0 0 20px 0;
}

.header_main h1 {
  display: inline;
}

.header_main .ant-divider-horizontal {
  margin: 10px 0 20px 0;
}

.outer_content {
  width: 350px;
  margin: 0 auto;
  padding: 30px 0;
}

.detail_form {
  width: 60%;
  margin: 0 auto;
}

.detail_form h1 {
  color: #524175;
  font-size: 35px;
  margin-bottom: 20px;
  text-align: center;
}

footer .ant-divider {
  margin: 12px 0;
}

@media only screen and (max-width: 1440px) {

  .main {
    width: 65%;
  }

  .outer_content {
    width: 350px;
  }

  .detail_form {
    width: 70%;
    margin: 0 auto;
  }
  

}

@media only screen and (max-width: 700px) {

  .main {
    width: 95%;
  }

  .outer_content {
    width: 100%;
  }

  .detail_form {
    width: 100%;
    margin: 0 auto;
  }
  

}

.outerForm h1 {
  color: #524175;
  font-size: 35px;
  margin-bottom: 20px;
}

.header_outer h1 {
  text-align: center;
  color: #999;
}

.header_outer .dividers {
  margin: 10px 0;
  color: #524175;
}

/* .outerBody {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 700px;
}

.loginSection {
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 5px 8px 5px -1px #858d99;
  padding: 60px 40px;
  border: 1px solid #e9cdcd;
}

.loginSection h2 {
  text-align: center;
}

.registerSection {
  width: 100%;
}

.registerSection .content {
  margin: 0 auto;
  width: 80%;
  margin-top: 30px;
}

.registerSection .content .registerStep {
  margin: 50px 0;
}

.registerSection .content .outletContent {
  margin: 0 auto;
} */